@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: dimgray;
}

.arrow {
  position: relative;
  top: -15px;
  width: 60px;
  height: 60px;
}

.weather-icon {
  position: relative;
  top: -10px;
}
