@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: dimgray;
}

.arrow {
  position: relative;
  top: -15px;
  width: 60px;
  height: 60px;
}

.weather-icon {
  position: relative;
  top: -10px;
}

.weather-box {
  min-width: 170px;
}

.swiper {
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  object-fit: cover;
}
